body{
    margin:0;
    background:#000;
    color:white;
    font-family:Arial;
}

.container{
    display:flex;
    height:100vh;
}

.panel-izquierdo{
    width:22%;
    background:#111;
    overflow:auto;
    padding:10px;
}

.panel-derecho{
    width:20%;
    background:#111;
    padding:10px;
}

.carretera{
    width:65%;
    position:relative;
    overflow:hidden;
    min-height:3000px;

    background:
    linear-gradient(
        90deg,
        #2d8f2d 0%,
        #2d8f2d 18%,
        #3a3a3a 18%,
        #3a3a3a 82%,
        #2d8f2d 82%,
        #2d8f2d 100%
    );
}

.carretera::before{
    content:"";
    position:absolute;
    left:50%;
    top:0;
    width:10px;
    height:200%;

    background:
    repeating-linear-gradient(
        to bottom,
        #ffffff 0px,
        #ffffff 40px,
        transparent 40px,
        transparent 80px
    );

    animation: carretera 1s linear infinite;
}

.meta{
    text-align:center;
    font-size:30px;
    padding:10px;
    background:#222;
}

.inicio{
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
    font-size:28px;
}

.auto{
    position:absolute;

    width:90px;
    height:120px;

    object-fit:contain;

    transform:translateX(-50%);

    transition:all 1s ease;
}

.nombreAuto{
    position:absolute;

    width:90px;

    color:white;
    font-size:12px;
    font-weight:bold;

    text-align:center;

    text-shadow:
        2px 2px 3px black;

    transform:translateX(-50%);

    z-index:999;
}

.panel-box{
    border:2px solid yellow;
    margin-bottom:20px;
    padding:15px;
    text-align:center;
}

@keyframes carretera{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(80px);
    }

}

.carretera::after{
    content:"";
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        90deg,
        transparent 17%,
        #ffd700 17%,
        #ffd700 18%,
        transparent 18%,

        transparent 82%,
        #ffd700 82%,
        #ffd700 83%,
        transparent 83%
    );

    pointer-events:none;
}
